<div class="w-full mt-6">
<%= form_with model: [@category, @expenditure] do |form| %>
  <div class="bg-white">
   <%= form.text_field :name, placeholder: 'Name', required: true %>
  </div>
   <div class="bg-white mt-2">
   <%= form.number_field :amount, placeholder: 'Amount Spent ($)', type: 'float', required: true %>
  </div>
  <div class="flex flex-col items-center mt-6">
    <%= form.submit "Add Expenditure", class: "btn p-4 rounded-lg text-white" %>
  </div>
<% end %>
</div>