<div class="flex flex-col content-center bg-white rounded-md mx-[7rem] my-[1.5rem] px-4 py-10 md:mx-[14rem] lg:mx-[28rem]">
<%= form_with model: @category do |form| %>
  <div class="field py-2">
   <%= form.text_field :name, placeholder: 'Category name', required: true, class: "w-full forms p-4" %>
  </div>
  <div class="flex flex-col py-2 w-full">
    <%= form.select :icon, options_for_select([['', ''], ['Investment ðŸ’µ', 'cash.png'], ['Health ðŸ¥', 'hospital.png'],
    ['Shopping ðŸ›ï¸', 'shopping.png'], ['Sports âš½', 'sports.png'], ['Movies ðŸ¿', 'popcorn.png'], ['Travel âœˆï¸', 'travel.png'],
    ['Others ðŸ““', 'more.png']], selected: nil), { prompt: 'select icon', class: 'w-full forms p-4', size: 12 } %>
  </div>

 <div class="flex flex-col items-center mt-6">
    <%= form.submit "Save Category", class: "btn p-3 rounded-md text-white tracking-wider" %>
  </div>
<% end %>