<div>
<%= render "form", category: @category %>
</div>
<div class="absolute bottom-0 flex flex-col gap-6 w-full">
    <%= link_to '<i class="fa-solid fa-circle-chevron-left"></i> All Categories'.html_safe, categories_path, class: "text-[1.5rem] back"%>
</div>