<% if notice %>
  <div class="relative top-2 flex justify-center bg-[#5fb523] text-white p-2 mx-[8rem] rounded-md z-10"><%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="relative top-2 flex justify-center gap-8 bg-red-800 text-white p-2 mx-[8rem] rounded-md z-10"><%= alert %>
  </div>
<% end %>